:root {
    --primary-lightGreen: hsl(148, 38%, 91%);
    --primary-green: hsl(169, 82%, 27%);
    --primary-red: hsl(0, 66%, 56%);
    --secondary-white: hsl(0, 0%, 100%);
    --secondary-mediumGray: hsl(186, 15%, 59%);
    --secondary-darkGray: hsl(187, 24%, 22%);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.flex-container {
    display: flex;
}

.flex-column{
    flex-direction: column;
}

body {
    background-color: var(--primary-lightGreen);
    font-family: Karla, "sans serif";
    font-size: 16px;
    font-weight: 400;
    min-height: 100vh;
    padding: 5vw;
    align-items: center;
}

form {
    background-color: var(--secondary-white);
    padding: 1.5rem;
    border-radius: 1rem;
    height: 100%;
}

h1 {
    color: var(--secondary-darkGray);
    margin: 0 0 1.7rem 0;
}

fieldset, button {
    border: none;
}

fieldset:first-of-type label, fieldset:nth-of-type(2) label {
    margin: 0 0 0.5rem 0;
}

input, .indQueryContainer {
    padding: 0.8rem;
    border: 0.1px solid;
}

.indQueryContainer label {
    margin: 0;
}

.indQueryContainer:nth-of-type(2){
    margin: 1rem 0 0 0;
}

input, .indQueryContainer {
    border-radius: 0.5rem;
}

input[type="checkbox"]{
    width: 13px;
    height: 13px;
}

.errorMessage {
    color: var(--primary-red);
    margin: 0.25rem 0;
    visibility: hidden;
}

.nonVisualLegend {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    border: 0;
}

span {
    color: var(--primary-green);
}

.indQueryContainer{
    align-items: center;
    gap: 0.5rem;
    border: 1px solid var(--secondary-darkGray);
    margin: 1rem 0;
}

.indQueryContainer > input {
    margin-left: 0.5rem;
}

.indQueryContainer > label {
    font-size: 18px;
}

textarea {
    margin: 0.5rem 0 0 0;
    padding: 6rem 0;
    border-radius: 1rem; 
}

.consentCheckBoxContainer {
    align-items: center;
    gap: 1rem;
}

form > .errorMessage {
    display: none;
}

button {
    background-color: var(--primary-green);
    color: var(--secondary-white);
    border-radius: 0.5rem;
    padding: 1.2rem;
    font-size: inherit;
    font-weight: 700;
    margin: 2rem 0 0 0;
}